*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(71, 46, 46);
}

h1 {
    margin-top: 60px;
    color:azure;
}

.search {
    margin-top: 40px;

    #nameInput {
        padding: 8px;
        font-size: 16px;
    }
    #searchBtn {
        padding: 8px 12px;
        font-size: 16px;
        margin-left: 8px;
        cursor: pointer;
    }
}
.results {
    margin-top: 60px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    .card {
        background-color: #fff;


        border: 2px black solid;
        border-radius: 12px;

        padding: 12px;
        width: 200px;
        text-align: center;

        img {
            width: 100%;
        }
    }
}