* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
main {
    flex: 1;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        background-color: brown;
        
        padding: 20px;
        margin-bottom: 30px;

        border: none;
        border-radius: 12px;

        &:hover {
            background-color: rgb(143, 14, 14);
        }
    }
}

.table-campers {
    border-spacing: 0px;
    width: 1600px;

    thead {
        th {
            padding: 20px;
            width: 400px;
        }

        th:nth-child(even){
            background-color: brown;
        }
        th:nth-child(odd) {
            background-color: rgb(150, 32, 32);
        }

        th:first-child {
            border-radius: 30px 0px 0px 0px;
        }
        th:last-child {
            border-radius: 0px 30px 0px 0px;
        }
    }
    tbody {
        td {
            padding: 20px;
            color: black;
        }
        tr:nth-child(even){
            background-color: azure;
        }
        tr:nth-child(odd) {
            background-color: rgb(217, 255, 255);
        }
    }
    
}